/* html ,body,  #root{
    height: 100%;
}
.wrapper {
    display: grid;
    height: 100%;
    background-color: #EFEFEF;
    padding: 7% 5%;
    font-size: 3vh;
}
.wrapper > div > p >strong{
    font-size: 7vh;
}
.wrapper >  button{
    background-color: black;
    color: white;
    width: 9rem;
    height: 3rem;
    border: none;
    border-radius: 3pc;
} */
html, body, #root{
    height: 100%;
    margin: 0;
}

.wrapper{
    background-color: #EFEFEF;
    padding: 10rem 5rem;
    font-size: 5vh;
}
.wrapper > div >p> strong{
    font-size: 15vh;
}
.yellowText{
    background-image: linear-gradient(#F7DC6C, white);
    border-radius: 25px 1px;
}
.wrapper > button{
    background-color: black;
    color: white;
    font-size: 5vh;
    height: 4rem;
    width: 12rem;
    margin-top: 7rem;
    border: none;
    border-radius: 3rem;
}
